header div img{
    width: 3vw;
}
header{
    width: fit-content;
    background-color: #d5e42eb8;
    margin: 0;
    padding: 0;
}
header div ul li{
    width: fit-content !important;
    display: flex!important;
    align-items: center;
    justify-content: center
}
header div ul li a{
    padding: 0.25rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: solid 0.01rem #00000000 !important;
    border-radius: 7px !important;
}
header div ul li a:hover{
    border: solid 0.01rem black !important;
}
header div ul li a{
    width: fit-content !important;
}
.inicio div{
    margin: 0.5rem;
    min-height: 75vh;
}
.inicio div img{
    width: 20vw;
}
.divListaSelect{
    min-height: 13vh;
}
.divModificar{
    width: 40vw;
    border: solid 0.01rem black;
    border-radius: 7px;
}
.agregarButton button:hover{
    border: solid 0.01rem black;
}
.agregarButton button{
    border: solid 0.01rem black;
}
.tabla{
    min-height: 77vh;
}
.tabla table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65vw;
    min-height: 30vh;
}
.tabla table td, .tabla table th{
    border: 1px solid #919843;
    text-align: left;
    padding: 8px;
    height: 2.55rem;
    max-width: 11rem;
    word-wrap: break-word;
}
.tabla table tr:nth-child(even) {
  background-color: #eeffff;
}
.tabla table tbody tr{
    background-color: #fcffe0b8;
}
.tabla table tbody tr:hover {
    background-color: #c9e2e2;
}

.divFinalRel{
    min-height: 75vh;
}
#formFinalRel{
    padding: 2rem;
    border: solid 0.01rem black;
    border-radius: 7px;
    min-height: 30vh;
}
#formNewRel{
    border: solid 0.01rem black;
    border-radius: 7px;
    padding: 2rem;
}
